{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">

	<table class="table-secondary table-bordered border-primary table-sm caption-top">
	 <caption>Liste des articles</caption>
		<thead >
			<tr>
				<th class="w-50 p-3">Titre</th>
				<th>Etat</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>
						{{ article.title }}</td>

					<td>{{ article.state}}
					</td>

					<td>
						<a href="{{ path('article_edit', {'id': article.id}) }}">
							Modifier
						</a>
					</td>
				</tr>
			{% else %}
				⛔ Pas d'articles
			{% endfor %}


		</tbody>
	</table>


</div>
{% endblock %}