{% extends 'base.html.twig' %}

{% block body %}
	<h2>Ma page Articles</h2>

	<h3>
		Liste des articles
	</h3>

	{% if articles|length %}
		{% for article in articles %}
			<article>
			
				<h4>
					{{ article.title }}</h4>
				<p>
					{{ article.content }}</p>
					
				<h4>{{ article.state}}
				</h4>

				<a href="{{ path('article_edit', {'id': article.id}) }}"> Modifier </a>

			</article>
		{% endfor %}
	{% else %}
		Pas d'articles
	{% endif %}


{% endblock %}
